# MySQL Container Configuration (used by docker-compose db service)
MYSQL_ROOT_PASSWORD=<password for root user>
MYSQL_DATABASE=<name of the database>
MYSQL_USER=<username for the database>
MYSQL_PASSWORD=<password for the database user>
